body {
  background-color: #0f172a;

}

.App {
  min-height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Roboto', sans-serif;
}

p {
  color: white;
}

.main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80vw;
  height: 100vh;
  box-shadow: 3px 3px black -1em 0 .4em #282c34;
  row-gap: 5vh;
  padding-top: 10vh;
}

.heading {
  font-weight: 600 !important;
}

.tile {
  display: flex;
  flex-direction: column;
  padding: 1em;
  max-width: 500px;
  max-height: 80%;
  background-color: #1e293b;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
}

.calender {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  padding: 0 0 8%;
}

.authBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 20px;
}

.phoneBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;
  gap: 20px;
}

#phoneInput {
  margin: auto;
}

.dayBox {
  height: 2em;
  width: 2em;
  margin: 2.5% 2.5% 0 3.55%;
  background-color: black;
}

button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.15em solid #0f172a;
  margin: 0 0.3em 0.3em 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #1e293b;
  text-align: center;
  transition: all 0.2s;
}

button:hover {
  color: #ffffff;
  background-color: #1e293b;
}

button:disabled {
  color: #817E9F;
  background-color: #0f172a;

}

button:disabled:hover {
  color: #817E9F;
  background-color: #0f172a;
}

@media all and (max-width:30em) {
  button {
    display: block;
    margin: 0.4em auto;
  }
}

.dateSelectionButton {
  padding: 5px 10px;
  font-size:larger;
  /* background: #777 url(button.png) repeat-x bottom; */
  border: none;
  color:#1e293b;
  cursor: pointer;
}

.dateSelectionButton:hover {
  background-position: 0 -48px;
  color: #ffffff;
  background-color: #1e293b;
}

.dateSelectionButton:active {
  background-position: 0 top;
  position: relative;
  top: 1px;
  padding: 6px 10px 4px;
}

#g-recaptcha {
  align-self: center;
}